@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

body{
    font-family: Sen;
    background-color: black !important;
    height:100vh;
    background-size: contain;
    background-image: url(./data/bg.png) !important;
    background-blend-mode: difference !important;
}

.ui :is(.header, .item, .button, .description, .meta){
    font-family:Sen !important;
}

.panes{
    height:60vh;
    overflow-y:auto;
}

.profile{
    background-color: #fff !important;
    background-size: contain;
    background-image: url(../src/data/bg.png) !important;
    background-blend-mode: multiply !important;
    clip-path: polygon(16% 0, 100% 0, 100% 90%, 82% 100%, 0 100%, 0 10%);
}

p, a{
    font-family:Sen;
}
.link{
    color: orange !important;
    font-size: 12px;
}
.social{
    display:flex !important;
    justify-content: center !important;
    margin-bottom: 5px;
}
